# Check sakila

In [1]:
import duckdb

with duckdb.connect("data/sakila.duckdb") as conn:
    description = conn.sql("DESC;").df()

description

,database,schema,name,column_names,column_types,temporary
0,sakila,staging,_dlt_loads,"[load_id, schema_name, status, inserted_at, sc...","[VARCHAR, VARCHAR, BIGINT, TIMESTAMP WITH TIME...",False
1,sakila,staging,_dlt_pipeline_state,"[version, engine_version, pipeline_name, state...","[BIGINT, BIGINT, VARCHAR, VARCHAR, TIMESTAMP W...",False
2,sakila,staging,_dlt_version,"[version, engine_version, inserted_at, schema_...","[BIGINT, BIGINT, TIMESTAMP WITH TIME ZONE, VAR...",False
3,sakila,staging,actor,"[actor_id, first_name, last_name, last_update,...","[DECIMAL(38,9), VARCHAR, VARCHAR, TIMESTAMP, V...",False
4,sakila,staging,address,"[address_id, address, address2, district, city...","[BIGINT, VARCHAR, VARCHAR, VARCHAR, BIGINT, VA...",False
5,sakila,staging,category,"[category_id, name, last_update, _dlt_load_id,...","[BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]",False
6,sakila,staging,city,"[city_id, city, country_id, last_update, _dlt_...","[BIGINT, VARCHAR, BIGINT, TIMESTAMP, VARCHAR, ...",False
7,sakila,staging,country,"[country_id, country, last_update, _dlt_load_i...","[BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]",False
8,sakila,staging,customer,"[customer_id, store_id, first_name, last_name,...","[BIGINT, BIGINT, VARCHAR, VARCHAR, VARCHAR, BI...",False
9,sakila,staging,film,"[film_id, title, description, release_year, la...","[BIGINT, VARCHAR, VARCHAR, VARCHAR, BIGINT, BI...",False
10,sakila,staging,film_actor,"[actor_id, film_id, last_update, _dlt_load_id,...","[BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]",False
11,sakila,staging,film_category,"[film_id, category_id, last_update, _dlt_load_...","[BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]",False
12,sakila,staging,inventory,"[inventory_id, film_id, store_id, last_update,...","[BIGINT, BIGINT, BIGINT, TIMESTAMP, VARCHAR, V...",False
13,sakila,staging,language,"[language_id, name, last_update, _dlt_load_id,...","[BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]",False
14,sakila,staging,payment,"[payment_id, customer_id, staff_id, rental_id,...","[BIGINT, BIGINT, BIGINT, BIGINT, DECIMAL(5,2),...",False
15,sakila,staging,rental,"[rental_id, rental_date, inventory_id, custome...","[BIGINT, TIMESTAMP, BIGINT, BIGINT, TIMESTAMP,...",False
16,sakila,staging,staff,"[staff_id, first_name, last_name, address_id, ...","[BIGINT, VARCHAR, VARCHAR, BIGINT, BLOB, VARCH...",False
17,sakila,staging,store,"[store_id, manager_staff_id, address_id, last_...","[BIGINT, BIGINT, BIGINT, TIMESTAMP, VARCHAR, V...",False

## Storing data into dictionary of dfs

In [5]:
dfs = {}

with duckdb.connect("data/sakila.duckdb") as conn:
    for name in description["name"]:
        if name[0] != '_':
            dfs[name] = conn.sql(f"FROM staging.{name};").df()

            duckdb.register(name, dfs[name])

dfs["film"].head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,_dlt_load_id,_dlt_id
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,<NA>,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2021-03-06 15:52:00,1765183073.4357996,ArINAm00tJCvMQ
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,<NA>,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2021-03-06 15:52:00,1765183073.4357996,Hi37xXDCnQEIqg
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,<NA>,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2021-03-06 15:52:00,1765183073.4357996,TW/IMlfXBjT5WA
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,<NA>,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2021-03-06 15:52:00,1765183073.4357996,D0xUmDwGYXg35w
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,<NA>,6,2.99,130,22.99,G,Deleted Scenes,2021-03-06 15:52:00,1765183073.4357996,K3iCuVvzyOuXmQ

In [6]:
duckdb.sql("DESC;")

┌──────────┬─────────┬───────────────┬──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬───────────┐
│ database │ schema  │     name      │                                                                                             column_names                                                                                             │                                                            column_types                                                            │ temporary │
│ varchar  │ varchar │    varchar    │                                                                                              varchar[]                                                                                               │                                                             varchar[]                                                              │  boolean  │
├──────────┼─────────┼───────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼───────────┤
│ temp     │ main    │ actor         │ [actor_id, first_name, last_name, last_update, _dlt_load_id, _dlt_id]                                                                                                                                │ [DOUBLE, VARCHAR, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]                                                                            │ true      │
│ temp     │ main    │ address       │ [address_id, address, address2, district, city_id, postal_code, phone, last_update, _dlt_load_id, _dlt_id]                                                                                           │ [BIGINT, VARCHAR, '"NULL"', VARCHAR, BIGINT, VARCHAR, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]                                        │ true      │
│ temp     │ main    │ category      │ [category_id, name, last_update, _dlt_load_id, _dlt_id]                                                                                                                                              │ [BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]                                                                                     │ true      │
│ temp     │ main    │ city          │ [city_id, city, country_id, last_update, _dlt_load_id, _dlt_id]                                                                                                                                      │ [BIGINT, VARCHAR, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]                                                                             │ true      │
│ temp     │ main    │ country       │ [country_id, country, last_update, _dlt_load_id, _dlt_id]                                                                                                                                            │ [BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]                                                                                     │ true      │
│ temp     │ main    │ customer      │ [customer_id, store_id, first_name, last_name, email, address_id, active, create_date, last_update, _dlt_load_id, _dlt_id]                                                                           │ [BIGINT, BIGINT, VARCHAR, VARCHAR, VARCHAR, BIGINT, VARCHAR, TIMESTAMP, TIMESTAMP, VARCHAR, VARCHAR]                               │ true      │
│ temp     │ main    │ film          │ [film_id, title, description, release_year, language_id, original_language_id, rental_duration, rental_rate, length, replacement_cost, rating, special_features, last_update, _dlt_load_id, _dlt_id] │ [BIGINT, VARCHAR, VARCHAR, VARCHAR, BIGINT, BIGINT, BIGINT, DOUBLE, BIGINT, DOUBLE, VARCHAR, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR] │ true      │
│ temp     │ main    │ film_actor    │ [actor_id, film_id, last_update, _dlt_load_id, _dlt_id]                                                                                                                                              │ [BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]                                                                                      │ true      │
│ temp     │ main    │ film_category │ [film_id, category_id, last_update, _dlt_load_id, _dlt_id]                                                                                                                                           │ [BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]                                                                                      │ true      │
│ temp     │ main    │ inventory     │ [inventory_id, film_id, store_id, last_update, _dlt_load_id, _dlt_id]                                                                                                                                │ [BIGINT, BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]                                                                              │ true      │
│ temp     │ main    │ language      │ [language_id, name, last_update, _dlt_load_id, _dlt_id]                                                                                                                                              │ [BIGINT, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]                                                                                     │ true      │
│ temp     │ main    │ payment       │ [payment_id, customer_id, staff_id, rental_id, amount, payment_date, last_update, _dlt_load_id, _dlt_id]                                                                                             │ [BIGINT, BIGINT, BIGINT, BIGINT, DOUBLE, TIMESTAMP, TIMESTAMP, VARCHAR, VARCHAR]                                                   │ true      │
│ temp     │ main    │ rental        │ [rental_id, rental_date, inventory_id, customer_id, return_date, staff_id, last_update, _dlt_load_id, _dlt_id]                                                                                       │ [BIGINT, TIMESTAMP, BIGINT, BIGINT, TIMESTAMP, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]                                                │ true      │
│ temp     │ main    │ staff         │ [staff_id, first_name, last_name, address_id, picture, email, store_id, active, username, password, last_update, _dlt_load_id, _dlt_id]                                                              │ [BIGINT, VARCHAR, VARCHAR, BIGINT, '"NULL"', VARCHAR, BIGINT, BIGINT, VARCHAR, VARCHAR, TIMESTAMP, VARCHAR, VARCHAR]               │ true      │
│ temp     │ main    │ store         │ [store_id, manager_staff_id, address_id, last_update, _dlt_load_id, _dlt_id]                                                                                                                         │ [BIGINT, BIGINT, BIGINT, TIMESTAMP, VARCHAR, VARCHAR]                                                                              │ true      │
├──────────┴─────────┴───────────────┴──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┴────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┴───────────┤
│ 15 rows                                                                                                                                                                                                                                                                                                                                                                          6 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [10]:
duckdb.sql("SELECT first_name, last_name FROM actor;").df()

    first_name     last_name
0     PENELOPE       GUINESS
1         NICK      WAHLBERG
2           ED         CHASE
3     JENNIFER         DAVIS
4       JOHNNY  LOLLOBRIGIDA
..         ...           ...
195       BELA        WALKEN
196      REESE          WEST
197       MARY        KEITEL
198      JULIA       FAWCETT
199      THORA        TEMPLE

[200 rows x 2 columns]

UsageError: Cell magic `%%duckdb` not found.